@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible&display=swap');


:root {
    --primary-color: #82CDA6;
    --secondary-color: #6bb38e;
    --dark-color: #3D6166;
    --light-color: #f4f4f4;
}

* {
    box-sizing: border-box;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    padding: 0;
    margin: 0;
    line-height: 2;
}

body {
    background-color: #333;
}

.showcase {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.backgroundVideo {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
}

.backgroundOverlay {
    background-color: var(--primary-color);
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0.8;
    mix-blend-mode: overlay;
}


.card {
    position: absolute;
    z-index: 1;
    background-color: #f3f3f3;
    border-radius: 25px;
    width: 900px;
    height: auto;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.5);
    color: #333
}

.card h1 {
    border-bottom: 2.5px var(--primary-color) solid;
    font-size: 40px;
    font-weight: bold;
}

.card table {
    margin-left: auto;
    margin-right: auto;
}

.card .form-text,
.card .form-button {
    display: inline;
    text-align: left;
    float: left;
    padding-right: 470px;
}
.slider {
    appearance: none;
    width: auto; /* Full-width */
    height: 15px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
}

/* Mouse-over effects */
.slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
}

/* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
.slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 15px; /* Set a specific slider handle width */
    height: 15px; /* Slider handle height */
    background: var(--primary-color); /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.slider::-moz-range-thumb {
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: var(--primary-color); /* Green background */
    cursor: pointer; /* Cursor on hover */
}

.lengthText {
    width: 50px;
    font-size: 24px;
}

.form-checkbox {
    width: 30px;
    height: 30px;
    color: var(--primary-color);
}

.card button {
    font-size: 30px;
    font-weight: bold;
    color: white;
    background-color: var(--primary-color);
    border-radius: 5px;
    border: none;
    width: 150px;
    height: 60px;
    cursor: pointer;
    opacity: 0.7;
}

.card button:hover {
    opacity: 1;
    transition: 0.2s;

}

.output-p, .output-t, .form-copy-button {
    display: none;
}

.output-t {
    font-size: 20px;
    font-weight: bold;
}

.card .form-copy-button {
    width: auto;
    height: 60px;
    margin-top: 10px;
}
